# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build
dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sw?
*.suo
*.ntvs*

# Database
*.db
*.sqlite

# drizzle
drizzle/meta/
